---
const educations = [
  {
    degree: "Engineering degree in IT and Multimedia (Apprenticeship)",
    years: "2024 - 2027",
    schoolName: "Cnam-Enjmin",
    location: "Angoulême, France",
    schoolUrl: "https://enjmin.cnam.fr",
    // gpa: "GPA: ?? out of ??",
    paragraphs: [
      "Studying IT and multimedia engineering at Cnam-Enjmin, I am learning project management, software architecture, software development, and multimedia design. \
      I am also learning to use various tools and technologies such as Unity, C++, C#, Python, SQL and machine-learning.",
      "I also had the opportunity to learn microcontroller programming with Arduino and Raspberry Pi, by doing projects \
      such as a ultrasonic distance sensor, a jump man game with a LCD screen, and a small arcade machine with a Raspberry Pi.",
      "This curriculum is undertaken as part of an apprenticeship contract with the company <a href='#experience'>Goupil Technology</a>, where I work as a software developer in the field of virtual and augmented reality.",
    ],
    activitiesTitle: "Extracurricular Activities",
    activities: [
      "A <a href='#' target='_blank'>physical engine</a> made in Python, using self-made methods for physics simulation and maths.", // TODO: add link to article when done
      "<a href='https://github.com/Okaneeee/bullet-heaven' target='_blank'>K-Psule</a>, a 2D bullet heaven game in Unity made in 14h.",
      "<a href='#' target='_blank'>Cadence</a>, a small Python game to play music using <a href='https://www.pygame.org' target='_blank'>Pygame</a>.", // TODO: add link to article when done
      "A <a href='https://github.com/Okaneeee/neutron-shader' target='_blank'>neutron shader</a> in Unity ShaderGraph, simulating the behavior of a neutron star's surface.",
      "A <a href='https://github.com/colesloow/halite_III' target='_blank'>Halite III bot</a> in C++.",
    ]
  },
  {
    degree: "Bachelor in Video Game Development",
    years: "2023 - 2024",
    schoolName: "Université du Québec à Chicoutimi (UQAC)",
    location: "Chicoutimi, Québec, Canada.",
    schoolUrl: "https://www.uqac.ca/",
    gpa: "GPA: 3.12 out of 4.3",
    paragraphs: [
      "When I was studying game development at UQAC, I learned to use Unreal Engine and Unity. I also learned how to use C++ and C# to create games.",
      "In addition to studying video game development, I had the opportunity to select courses focused on artificial intelligence and machine learning. \
      I also learned project and team management using <a href='https://en.wikipedia.org/wiki/Agile_software_development' target='_blank'>Agile methodology</a> and <a href='https://www.scrum.org/resources/what-scrum-module' target='_blank'>Scrum</a>.",
      "This curriculum at UQAC is undertaken as part of a dual degree program, in conjunction with the Littoral Côte d'Opale University Institute in Calais, France."
    ],
    activitiesTitle: "Extracurricular Activities",
    activities: [
      "<a href='https://okaneeee.github.io/school/poule-poeufs/' target='_blank'>Poule Poeufs</a>, a Snake game made with Unreal Engine with the collaboration of 4 other students, including 3 from the <a href='https://www.nad.ca' target='_blank'>NAD-UQAC</a>.",
      "<a href='https://okaneeee.github.io/school/malum-habootus/' target='_blank'>Malum Habootus</a>, a Bomberman game made with Unreal Engine with the collaboration of 8 other students, including 6 from the <a href='https://www.nad.ca' target='_blank'>NAD-UQAC</a>.",
      "<a href='https://okaneeee.github.io/school/inserer-mdp/' target='_blank'>Insérer un mot de passe</a>, a 3D serious game made with Unreal Engine with the collaboration of 14 other students.",
      "A 2D Flipper game and a 3D FPS shooter game, in order to learn the fundamentals and principles of Unity (like raycasts, joints, states, triggers, events...) and how an engine works.",
      "Some mini-projects in order to learn C++ and C# with Unreal Engine and Unity as well as AI, networking, testing and what can happen in a game development team/company."
    ]
  },
  {
    degree: "Bachelor's degree in Computer Science",
    years: "2021 - 2024",
    schoolName: "Littoral Côte d'Opale University Institute (IUT)",
    location: "Calais, France.",
    schoolUrl: "https://www.iut-littoral.fr",
    gpa: "GPA: 2.87 out of 4.0",
    paragraphs: [
      "When I was studying computer science at the IUT, I learned to use C, C++, Java, Python, and SQL. I also learned to use HTML, CSS, PHP, JavaScript and some frameworks in order to develop small websites. \
      I also saw the basics of artificial intelligence, mobile development, website security, network management and virtualization using <a href='https://www.docker.com' target='_blank'>Docker</a>. \
      Not to mention cryptography and project management using Agile methodology as well as Scrum.",
      "The last year of this curriculum was undertaken as part of a dual degree program, in conjunction with UQAC in Chicoutimi, Québec, Canada."
    ],
    activitiesTitle: "Extracurricular Activities",
    activities: [
      "A mobile application for depositing and retrieving location-based words developed in <a href='https://dart.dev' target='_blank'>Dart</a> and <a href='https://flutter.dev' target='_blank'>Flutter</a> using NoSQL.",
      "A <a href='https://www.php.net' target='_blank'>PHP</a> website allowing users to view, deposit, add, and delete reviews.",
      "A <a href='https://vuejs.org' target='_blank'>Vue.js</a>, Single Page Application (SPA) Pokedex.",
      "A <a href='https://www.python.org' target='_blank'>Python</a> application for stacking <a href='https://en.wikipedia.org/wiki/FITS' target='_blank'>FITS images</a> \
      for astrophotography using the <a href='https://www.astropy.org' target='_blank'>Astropy</a> library, equipped with an interface built with <a href='https://www.riverbankcomputing.com/software/pyqt/' target='_blank'>PyQt6</a>.",
      "A <a href='https://discord.com' target='_blank'>Discord</a> bot in <a href='https://nodejs.org' target='_blank'>Node.js</a>, facilitating communication between slash commands and a NoSQL database <a href='https://www.mongodb.com' target='_blank'>MongoDB</a> to manage watchlists and users.",
      "An introduction to the <a href='https://angular.io' target='_blank'>Angular</a> framework, by connecting an ERP to a website.",
      "The board game <a href='https://en.wikipedia.org/wiki/Blokus' target='_blank'>Blokus</a>, recreated in Python."
    ]
  }
];
---

<section id="education" class="py-16">
  <h2 class="text-3xl font-bold mb-10 text-slate-800 dark:text-gray-200 flex items-center gap-2">
    <span class="text-blue-500 text-xl font-sans">03.</span> Education
  </h2>
  
  <div class="space-y-12">
    {educations.map((edu) => (
      <div class="border-l-2 border-gray-200 dark:border-gray-800 pl-6 md:pl-8 relative hover:border-blue-500 transition-colors duration-300">
        <div class="absolute w-3 h-3 bg-white dark:bg-gray-950 border-2 border-blue-500 rounded-full -left-[7px] top-2"></div>

        <div class="flex flex-col md:flex-row justify-between md:items-start mb-1">
          <h3 class="text-xl md:text-2xl text-slate-800 dark:text-gray-100">{edu.degree}</h3>
          <span class="text-sm font-sans text-slate-500 dark:text-gray-400 mt-1 md:mt-2 whitespace-nowrap">{edu.years}</span>
        </div>
        
        <div class="flex flex-col gap-1 mb-6 text-base">
          <a href={edu.schoolUrl} target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:underline w-fit">
            {edu.schoolName}, {edu.location}
          </a>
          <span class="text-slate-600 dark:text-gray-400">{edu.gpa}</span>
        </div>
        
        <div class="text-slate-700 dark:text-gray-300 text-base leading-relaxed space-y-4 [&_a]:text-blue-500">
          
          {edu.paragraphs.map(p => (
            <p set:html={p} />
          ))}

          {edu.activities && edu.activities.length > 0 && (
            <div class="pt-2">
              <p class="mb-2 text-slate-800 dark:text-gray-200">{edu.activitiesTitle}</p>
              <ul class="list-disc pl-5 space-y-1.5 marker:text-slate-400 dark:marker:text-gray-600">
                {edu.activities.map(activity => (
                  <li set:html={activity} />
                ))}
              </ul>
            </div>
          )}

        </div>
      </div>
    ))}
  </div>
</section>